---
layout: page
title: Install and setup SPIDE
excerpt: "Install and setup Spatial Data Integrated Development Environment (SPIDE)."
image: ts-upsl-trmm-3b43v7-precip_3B43_trmm_2001-2016_A
search_omit: true
---

These instructions on installing and setting up a Spatial Data Integrated Development
Environment (SPIDE) are primarly written for Mac OS X. Installations and setups for Linux are
summarized in the supplement <a href="{{ site.url }}/blog/ubuntu-setup-spide/">
  SPIDE for Ubuntu 18.04.</a> The installed software match the requirements of
<a href="https://karttur.github.io/geoimagine/">
  Karttur's GeoImagine Framework</a>.

<br><br>The "SPIDE setup for Mac OSX" instructions cover GDAL, QGIS, GRASS, Anaconda Python, Eclipse IDE for PyDev, and PostgreSQL;
setting up of database architecture using xml;
installation of GDAL, QGIS and GRASS. The posts under "Supplements" are either outdated or redundant, and, as alreday mentioned, also cover the setup fo SPIDE on Ubuntu.

You can follow these instructions either for setting up a general SPIDE or specficially for Karttur's GeoImagine Framework.
the only difference is that if setting up your own SPIDE you skip the last step "Clone Karttur's GeoImagine Framework from GitHub".
Instead you should <a href="blog/connect-with-psycopg2/">Connect Python and PostgreSQL using psycopg2</a>.



<h1>SPIDE setup for Mac OSX<h1>
<ul class="post-list">
{% for post in site.categories.setup-ide reversed %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>

<h1>Supplements<h1>
<ul class="post-list">
{% for post in site.categories.blog reversed %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>
